/*------------------------------------*\
    #TYPOGRAPHY_BASE
\*------------------------------------*/
@import 'settings.typography';

// Global Font
// ==========================================================================
html {
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--base-font-family);
  text-rendering: optimizeLegibility;
}

// Headers
// ==========================================================================
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--header-font-weight);
}
