/*------------------------------------*\
    #TYPOGRAPHY_SETTINGS
\*------------------------------------*/

:root {

--extra-light:           100;
--light:                 300;
--normal:                500;
--bold:                  700;
--extra-bold:            900;

--mono-font-family:   'monospace';

--base-font-family:      var(--mono-font-family);
--base-font-weight:      var(--light);

--header-font-family:    var(--mono-font-family);
--header-font-weight:    var(--extra-bold);

}
