:root {

  /**
   * Color Palette
   */
  --clr-blue:          '#4FC1E9';
  --clr-dark-blue:     '#3BAFDA';

  --clr-mint:          '#48CFAD';
  --clr-dark-mint:     '#37BC9B';

  --clr-pink:          '#EC87C0';
  --clr-dark-pink:     '#D770AD';

  --clr-red:           '#ED5565';
  --clr-dark-red:      '#DA4453';

  --clr-yellow:        '#FFCE54';
  --clr-dark-yellow:   '#F6BB42';

  --clr-grey:          '#BBBBBB';
  --clr-dark-grey:     '#9B9B9B';
  --clr-darker-grey:   '#8C8C8C';
  --clr-darkest-grey:  '#555459';

  --clr-white:         '#FFFFFF';
  --clr-wild-sand:     '#F5F5F5';
  --clr-alto:          '#D8D8D8';

  --clr-base: var(--clr-wild-sand);
  --clr-dark-base: var(--clr-alto);
}
